In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
# 产生一个范围内的随机数
n = np.random.randint(9, 20)
n

14

In [3]:
# 产生一个(3, 11)维度的数组
np.random.randn(3, 11)

array([[ 2.01497372,  0.05913445, -0.03193248, -0.65814486,  0.66990048,
         0.60614397,  0.70582823, -0.88480448, -2.13661039,  1.15641988,
         2.13930818],
       [ 1.35216737,  0.56702665, -0.72538072, -0.38278304,  0.39993269,
         1.45220155,  1.30992865,  0.47089551,  0.30972711, -0.82492038,
         1.66723171],
       [ 0.83651621, -1.23460286, -1.07068609,  0.76490805,  1.1823927 ,
         0.69623047,  1.18103264,  0.70989622,  0.32325359,  1.35414028,
         0.42521133]])

In [4]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [5]:
s

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [6]:
# 小写，NaN 不会改变
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [7]:
# 字符长度
s.str.len()

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
6    4.0
7    3.0
8    3.0
dtype: float64

In [9]:
s.str.strip()

0       A
1       B
2       C
3    Aaba
4    Baca
5     NaN
6    CABA
7     dog
8     cat
dtype: object

In [10]:
a = Series([1, 2, 3, 4])

In [11]:
# 多个索引访问
a[[0, 2]]

0    1
2    3
dtype: int64

In [12]:
a.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
a.values

array([1, 2, 3, 4], dtype=int64)

In [14]:
b = Series(data=[1, 2, 3, 4, 4], index=['a', 'b', 'c', 'd', 'e'])

In [17]:
# 统计次数
vc = b.value_counts()
vc

4    2
3    1
2    1
1    1
dtype: int64

In [18]:
# 按次数选择过滤
vc[vc > 1]

4    2
dtype: int64

In [19]:
# 按字典创建Series
mydict = dict(a=1, b=2, c=3, d=4)
a = Series(mydict)
a

a    1
b    2
c    3
d    4
dtype: int64

In [20]:
'b' in a

True

In [21]:
myindex = ["a", "b", "c", "f"]
b = Series(data=mydict, index=myindex)
b

a    1.0
b    2.0
c    3.0
f    NaN
dtype: float64

In [22]:
# 因为 索引 f 没有对应的value,所以 值 是NaN
a + b

a    2.0
b    4.0
c    6.0
d    NaN
f    NaN
dtype: float64

In [23]:
s2 = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'])

In [27]:
# value 分隔
result = s2.str.split("_")
result

0    [a, b, c]
1    [c, d, e]
2          NaN
3    [f, g, h]
dtype: object

In [28]:
# 访问第二个元素
result.str.get(1)
result.str[1]

0      b
1      d
2    NaN
3      g
dtype: object

In [29]:
# 使用 expand 返回 dataFrame 对象
s2.str.split("_", expand=True)

,0,1,2
0,a,b,c
1,c,d,e
2,NaN,None,None
3,f,g,h

In [30]:
# 限制 split 个数
s2.str.split("_", expand=True, n=1)

,0,1
0,a,b_c
1,c,d_e
2,NaN,None
3,f,g_h

In [31]:
len(s2)

4

In [32]:
# 保存文件
s2.to_csv('s2.csv', index=True, header=None, sep=',', na_rep='null', mode='a', encoding='utf-8', date_format=None)